<h1>Create new post!</h1>

<form>
  <label for="post_title">Post Title</label>
  <input
  type="text"
  name="post[title]"
  id="post_title"
  value="">
  <br>

  <textarea name="post[body]"></textarea>
  <br>

  <input type="submit" value="Create Post!">
</form>
