<h1><%= blog.escape("title") %></h1>
<br>
<br>
<h2>Author: <%= blog.escape("author_username") %></h2>
<h2>Team: <%= blog.escape("team_name") %></h2>

<div class='posts-window'>
  <div id="posts">
  </div>

  <% if (SpumblrApp.current_user_id && SpumblrApp.current_user_id == blog.get("author_id")) { %>
    <div id="post-form">
    </div>
  <% } %>
</div>
