<h1><%= blog.escape("title") %></h1>
<br>
<br>
<h2><%= blog.escape("author_username") %></h2>
<h2><%= blog.escape("team_name") %></h2>

<div class='posts-window'>
  <div id="posts">
  </div>

  <div id="post-form">
  </div>
</div>
