<h1><%= blog.escape("title") %></h1>
<br>
<br>
<h2>Author: <%= blog.escape("author_username") %></h2>
<h2>Team: <%= blog.escape("team_name") %></h2>

<div class='posts-window'>
  <div id="posts">
  </div>

    <% if (current_user_id && current_user_id == blog.escape("author_id")) { %>
      <div id="post-form">
      </div>
    <% } %>
</div>
