// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-form {
  display: block;
  color: pink;
  margin-left: auto;
  margin-right: auto;
}

#post-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-heading {
  display: block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
