.block {
  display: block;
  border: 1px solid black;
  text-align: center;
}

li.team-index {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,.15);
}

.team-index-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a.team-1 {
  color: #870619 !important;
}

a.team-2 {
  color: #A71930 !important;
}

a.team-3 {
  color: #002F5F !important;
}

a.team-4 {
  color: #BD0D18 !important;
}

a.team-5 {
  color: #000080 !important;
}

a.team-6 {
  color: #ED4C09 !important;
}

a.team-7 {
  color: #280353 !important;
}

a.team-8 {
  color: #009E60 !important;
}

a.team-9 {
  color: #C60C30 !important;
}

a.team-10 {
  color: #000000 !important;
}

a.team-11 {
  color: #00338D !important;
}

a.team-12 {
  color: #0088CE !important;
}

a.team-13 {
  color: #1D1160 !important;
}

a.team-14 {
  color: #03202F !important;
}

a.team-15 {
  color: #D4001F !important;
}

a.team-16 {
  color: #003279 !important;
}

a.team-17 {
  color: #C0C0C0 !important;
}

a.team-18 {
  color: #FB4F14 !important;
}

a.team-19 {
  color: #C6011F !important;
}

a.team-20 {
  color: #E34912 !important;
}

a.team-21 {
  color: #860038 !important;
}

a.team-22 {
  color: #003366 !important;
}

a.team-23 {
  color: #333366 !important;
}

a.team-24 {
  color: #002244 !important;
}

a.team-25 {
  color: #0B60AD !important;
}

a.team-26 {
  color: #FB4F14 !important;
}

a.team-27 {
  color: #4B90CD !important;
}

a.team-28 {
  color: #006DB0 !important;
}

a.team-29 {
  color: #00519A !important;
}

a.team-30 {
  color: #001742 !important;
}

a.team-31 {
  color: #213D30 !important;
}

a.team-32 {
  color: #04529C !important;
}

a.team-33 {
  color: #072854 !important;
}

a.team-34 {
  color: #CE1138 !important;
}

a.team-35 {
  color: #02253A !important;
}

a.team-36 {
  color: #092C57 !important;
}

a.team-37 {
  color: #003B7B !important;
}

a.team-38 {
  color: #D0B239 !important;
}

a.team-39 {
  color: #B20032 !important;
}

a.team-40 {
  color: #15317E !important;
}

a.team-41 {
  color: #B71234 !important;
}

a.team-42 {
  color: #EE2944 !important;
}

a.team-43 {
  color: #083C6B !important;
}

a.team-44 {
  color: #4A2583 !important;
}

a.team-45 {
  color: #001F70 !important;
}

a.team-46 {
  color: #008D97 !important;
}

a.team-47 {
  color: #B62630 !important;
}

a.team-48 {
  color: #F9423A !important;
}

a.team-49 {
  color: #182B49 !important;
}

a.team-50 {
  color: #003614 !important;
}

a.team-51 {
  color: #0F4D92 !important;
}

a.team-52 {
  color: #072754 !important;
}

a.team-53 {
  color: #4F2682 !important;
}

a.team-54 {
  color: #0D254C !important;
}

a.team-55 {
  color: #002B5C !important;
}

a.team-56 {
  color: #D2B887 !important;
}

a.team-57 {
  color: #192F6B !important;
}

a.team-58 {
  color: #0C371D !important;
}

a.team-59 {
  color: #0953A0 !important;
}

a.team-60 {
  color: #002C77 !important;
}

a.team-61 {
  color: #1C2841 !important;
}

a.team-62 {
  color: #003831 !important;
}

a.team-63 {
  color: #C4C8CB !important;
}

a.team-64 {
  color: #007DC3 !important;
}

a.team-65 {
  color: #0047AB !important;
}

a.team-66 {
  color: #0046AD !important;
}

a.team-67 {
  color: #003B48 !important;
}

a.team-68 {
  color: #BA0C2F !important;
}

a.team-69 {
  color: #1C105E !important;
}

a.team-70 {
  color: #FDB829 !important;
}

a.team-71 {
  color: #F2C800 !important;
}

a.team-72 {
  color: #F0163A !important;
}

a.team-73 {
  color: #753BBD !important;
}

a.team-74 {
  color: #BEC8C9 !important;
}

a.team-75 {
  color: #08214A !important;
}

a.team-76 {
  color: #002147 !important;
}

a.team-77 {
  color: #AF1E2C !important;
}

a.team-78 {
  color: #F2552C !important;
}

a.team-79 {
  color: #0C2C56 !important;
}

a.team-80 {
  color: #06192E !important;
}

a.team-81 {
  color: #C41E3A !important;
}

a.team-82 {
  color: #13264B !important;
}

a.team-83 {
  color: #D60A0B !important;
}

a.team-84 {
  color: #00285D !important;
}

a.team-85 {
  color: #648FCC !important;
}

a.team-86 {
  color: #BD1021 !important;
}

a.team-87 {
  color: #003DA5 !important;
}

a.team-88 {
  color: #B31B1B !important;
}

a.team-89 {
  color: #00275D !important;
}

a.team-90 {
  color: #BA122B !important;
}

a.team-91 {
  color: #773141 !important;
}

a.team-92 {
  color: #C60C30 !important;
}
